<a href="https://colab.research.google.com/github/CHenriquezG/Minor-Machine-Learning-test/blob/main/Proyecto%20Final%20ML/%20Entrega%2002%20-%20Scrub/%20Entrega_02_Scrub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Proyecto Final - Reconocimiento de Actividad Humana (HAR)

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder

###Entrega 01 - OBTAIN

Incluir todo el código de la Etapa 01 - OBTAIN creada en la semana anterior

In [109]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [110]:
columna = ["user","activity","timestamp","x-acceleration","y-accel","z-accel"]
dataset=pd.read_table('/content/drive/MyDrive/ml/WISDM_ar_v1.1_raw.txt',sep=",",
                      header=None,
                      names=columna)

# se remueve el punto y coma en el "z"
dataset['z-accel'] = dataset['z-accel'].str.replace(";", "")
dataset.head()

   user activity       timestamp  x-acceleration    y-accel      z-accel
0    33  Jogging  49105962326000       -0.694638  12.680544   0.50395286
1    33  Jogging  49106062271000        5.012288  11.264028   0.95342433
2    33  Jogging  49106112167000        4.903325  10.882658  -0.08172209
3    33  Jogging  49106222305000       -0.612916  18.496431    3.0237172
4    33  Jogging  49106332290000       -1.184970  12.108489     7.205164

###Entrega 02 - SCRUB

Eliminar filas con datos faltantes

*Uno de los pasos iniciales en la limpieza de datos consiste en eliminar aquellas filas que contengan datos faltantes. Estas líneas generalmente no aportan información y pueden complicar la etapa de entrenamiento y validación de muchos modelos predictivos.*

In [111]:
datasetCopy = dataset.copy(deep = True)
datasetCopy[["user","activity","timestamp","x-acceleration","y-accel","z-accel"]] =datasetCopy[["user","activity","timestamp","x-acceleration","y-accel","z-accel"]].replace(0,np.NaN) 
datasetCopy.isnull().sum()

user                  0
activity              0
timestamp         12843
x-acceleration    16511
y-accel           13999
z-accel               1
dtype: int64

In [112]:
datasetCopy = datasetCopy.dropna()
datasetCopy.isnull().sum()

user              0
activity          0
timestamp         0
x-acceleration    0
y-accel           0
z-accel           0
dtype: int64

Error at line number:  281873
Error at line number:  281874
Error at line number:  281875

Agregar al DataFrame los nombres de las columnas

*En ocasiones al crear los data frames el sistema asigna nombres genéricos y correlativos a las columnas. Es recomendable renombrar las columnas por nombres significativos para favorecer el análisis posterior de los datos.*

In [113]:
dataset = datasetCopy
columnasR = ["user","activity","time","x","y","z"]
dataset.columns = columnasR
dataset.head()

   user activity          time         x          y            z
0    33  Jogging  4.910596e+13 -0.694638  12.680544   0.50395286
1    33  Jogging  4.910606e+13  5.012288  11.264028   0.95342433
2    33  Jogging  4.910611e+13  4.903325  10.882658  -0.08172209
3    33  Jogging  4.910622e+13 -0.612916  18.496431    3.0237172
4    33  Jogging  4.910633e+13 -1.184970  12.108489     7.205164

Visualizar las 5 primeras filas del DataFrame (.head())

*Siempre es buena medida visualizar algunas líneas del dataframe para tener una idea concreta del contenido.*

   user activity          time         x          y             z
0    33  Jogging  4.910596e+13 -0.694638  12.680544   0.50395286;
1    33  Jogging  4.910606e+13  5.012288  11.264028   0.95342433;
2    33  Jogging  4.910611e+13  4.903325  10.882658  -0.08172209;
3    33  Jogging  4.910622e+13 -0.612916  18.496431    3.0237172;
4    33  Jogging  4.910633e+13 -1.184970  12.108489     7.205164;

Buscar datos nulos y eliminarlos si es que existen

In [ ]:
se hizo en un paso atras

Visualizar los tipo de datos a los que pertenece cada columna (.info())

*Es necesario tener un detalle de cuantas variables están considerando y el tipo de datos que pertenecen para verificar si es posible utilizarla directamente para el modelo predictivo o si es necesario realizar una transformación del tipo de dato.*

In [114]:
dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1080536 entries, 0 to 1098203
Data columns (total 6 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   user      1080536 non-null  int64
 1   activity  1080536 non-null  object
 2   time      1080536 non-null  float64
 3   x         1080536 non-null  float64
 4   y         1080536 non-null  float64
 5   z         1080536 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 57.7+ MB

Cambiar el tipo de datos de las variables predictoras a valores reales, para realizar la clasificación

*Muchas de las variables contenidas en el DataFrame originalmente se encuentran en el tipo de dato 'object'. En ese formato las variables no pueden ser interpretadas como vectores. Recordemos que la mayoría de los modelos de Machine Learning estudiados operan en el espacio vectorial. Por esta razón las variables que formarán parte del modelo predictivo deben ser transformadas a un formato numérico como 'Float' o 'integer'.*

Para este proyecto en particular se pide transformar  al tipo de dato Float, las variables del acelerómetro en el eje $x$, $y$ y $z$

In [115]:
lb = LabelEncoder()
#dataset["activity"] = lb.fit_transform(dataset["activity"])
dataset["z"] = pd.to_numeric(dataset["z"])
dataset.head()

   user activity          time         x          y         z
0    33  Jogging  4.910596e+13 -0.694638  12.680544  0.503953
1    33  Jogging  4.910606e+13  5.012288  11.264028  0.953424
2    33  Jogging  4.910611e+13  4.903325  10.882658 -0.081722
3    33  Jogging  4.910622e+13 -0.612916  18.496431  3.023717
4    33  Jogging  4.910633e+13 -1.184970  12.108489  7.205164

Imprimir los tipos de datos de las variables del DataFrame

*Se recomienda volver a ejecutar el comando info para verificar que efectivamente las variables cambiaron su tipo de dato y que ahora se pueden procesar con los modelos predictivos.*

In [116]:
dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1080536 entries, 0 to 1098203
Data columns (total 6 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   user      1080536 non-null  int64
 1   activity  1080536 non-null  object
 2   time      1080536 non-null  float64
 3   x         1080536 non-null  float64
 4   y         1080536 non-null  float64
 5   z         1080536 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 57.7+ MB

Eliminar las columnas que no se utilizaran para la clasificación

*En este caso deberíamos conservar la actividad respectiva y las variables asociadas al acelerómetro*

In [117]:
dataset = dataset.drop(['time'], axis=1)
dataset = dataset.drop(['user'], axis=1)
dataset.head()

  activity         x          y         z
0  Jogging -0.694638  12.680544  0.503953
1  Jogging  5.012288  11.264028  0.953424
2  Jogging  4.903325  10.882658 -0.081722
3  Jogging -0.612916  18.496431  3.023717
4  Jogging -1.184970  12.108489  7.205164

  activity         x          y         z
0  Jogging -0.694638  12.680544  0.503953
1  Jogging  5.012288  11.264028  0.953424
2  Jogging  4.903325  10.882658 -0.081722
3  Jogging -0.612916  18.496431  3.023717
4  Jogging -1.184970  12.108489  7.205164

Utilizar el comando *value_counts* para obtener un detalle de cuantas instancias se tienen por actividad. El objetivo consiste en identificar la presencia del balance o desbalance en las categorías a modelar

In [118]:
dataset.value_counts("activity")

activity
Walking       422301
Jogging       329114
Upstairs      121934
Downstairs     99693
Sitting        59462
Standing       48032
dtype: int64

Walking       137375
Jogging       129392
Upstairs       35137
Downstairs     33358
Sitting         4599
Standing        3555
Name: activity, dtype: int64

Este proyecto considera datos con un desbalance de clases. Es necesario balancearlos para que los modelos operen de manera adecuada. Existen muchas maneras de realizar un balance, pero en este proyecto utilizaremos una estrategia sencilla e intuitiva. Simplemente debe identificar la actividad que contenga el número menor de instancias. Se debe realizar un muestreo para las otras actividades utilizando ese valor. De esta manera todas las clases tendrán la misma cantidad de instancias.

In [119]:
dataset.target.value_counts().plot(kind='bar')

AttributeError: ignored

Establecer el número de instancias y dimensiones del data frame resultante *(shape)*

In [120]:
dataset.shape('Standing')

TypeError: ignored

Volver a imprimir la cantidad de instancias por categoría para verificar que todo esté en orden. *(value_counts)*

In [ ]:
downsampled_df = dataset.iloc[::step_size, :]

Walking       3555
Jogging       3555
Upstairs      3555
Downstairs    3555
Sitting       3555
Standing      3555
Name: activity, dtype: int64

Volver a visualizar las cinco primeras líneas del DataFrame para revisar que todo esté en orden *(head)*

    activity         x          y         z
597  Walking  0.844462   8.008764  2.792171
598  Walking  1.116869   8.621680  3.786457
599  Walking -0.503953  16.657684  1.307553
600  Walking  4.794363  10.760075 -1.184970
601  Walking -0.040861   9.234595 -0.694638

Separar las variables predictoras (X) de las ctegorias o etiquetas (y)

Estandarizar los datos numericos (*StandardScaler)*

*Para el caso de la estandarización de los datos se pueden usar distintas técnicas, como la normalización 01, estandarización entre -1 y 1 o el denominado Z-Score. En este caso usaremos la función Standard Scaler de Python con sus valores por defecto.*

          x         y         z
0  0.000503 -0.099190  0.337933
1  0.073590  0.020386  0.633446
2 -0.361275  1.588160 -0.103312
3  1.060258  0.437573 -0.844119
4 -0.237028  0.139962 -0.698386

Como último paso debe reconstruir el dataframe pegando las columnas de los variables predicadores (X) y las categorías (y)